.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "snaredrum";
  src: url("../ttf/SnaredrumZeroNbp-DBMm.ttf");
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "snaredrum";
  font-size: 2em;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 65%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

#submit {
  top: 90px;
  left: 265px;
  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 0px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
}

#submit:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#submit span {
  position: absolute;
  display: inline;
}

#submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

#submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

#submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

#submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

ul {
  border: none;
  background: transparent;
  display: block;
}

li {
  margin-left: 55px;
  padding: 5px 30px 30px 40px;
  list-style: none;
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
  font-size: 1.8em;
}

ul li button {
  background: transparent;
  border: none;
}

#quote {
  margin-top: 1em;
  right: 0;
  color: #fff;
  width: 450px;
  position: absolute;
}

#greeting {
  position: relative;
  margin-top: 50px;
  text-align: center;
  font-size: 5em;
}

#clock {
  text-align: center;
  font-size: 5em;
  animation: neon4 1.5s ease-in-out infinite alternate;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.616);
  position: relative;
  margin-top: 15%;
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
      0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
      0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
  }
}

@media (max-width: 650px) {
  p {
    font-size: 3.5em;
  }
}

.input {
  text-align: center;
  padding: 15px;
  outline: none;
  border: double 0;
  background: #252525;
  border-radius: 67px;
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

#todo {
  margin-right: 2%;
  width: 500px;
  height: auto;
  position: absolute;
  top: 270px;
}

#todo-form {
  padding: 5px;
  margin: 2vh 1vh;
  border-radius: 67px;
  max-width: 200px;
  margin-left: 50px;
  background: linear-gradient(
    330.28deg,
    #2cfff2 100%,
    #2cfff2 100%,
    #2cfff2 100%
  );
}

#todo-form > input {
  color: #2cfff2;
  border: none;
}
#todo-form > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2cfff2;
  opacity: 0.6; /* Firefox */
}

#todo-form:focus-within {
  background: linear-gradient(
    330.28deg,
    #2cfff2 0%,
    #1e78ff 30.73%,
    #ff54a6 55.73%,
    #ff6e1d 79.17%,
    #ff3e3e 100%
  );
}

#todo-form:hover {
  background: linear-gradient(
    330.28deg,
    #2cfff2 0%,
    #1e78ff 30.73%,
    #ff54a6 55.73%,
    #ff6e1d 79.17%,
    #ff3e3e 100%
  );
}

.weather-box {
  padding: 8px;
  top: 10px;
  right: 10px;
  color: white;
  opacity: 0.9;
  position: absolute;
  display: inline-block;
}

.city {
  font-size: 19px;
  opacity: 0.9;
  text-align: center;
  margin: -5px;
  display: inline-block;
}
